 <html>
    <head>
        <h1><%= pawprint %></h1>
        <p>From this class I would like to learn about web development and create end to end web pages. </p>        
        <%- include ("../partials/header.ejs") %>

    </head>
</html>

